@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
body {
    font-family: "Roboto Slab",sans-serif;
}

.site-layout-sub-header-background {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.site-layout-background {
    background: #fff;
}

.menu {
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #002547;
    height: 85px;
    align-items: center;
}

.logo {
    width: 120px;
    height: auto;
    position: absolute;
    align-items: center;
    left: 25px;
    top: 25px;
}

.list-item{
    width: 30%;
}

.menu-item {
    background-color: #002547;
    border-bottom: 0px solid #f0f0f0;
    font-size: 18px;

    display: flex;
    list-style-type: none;
    font-family: "Roboto Slab",sans-serif;
}

.list-item-li {
    flex: 1;
    
}

.list-item-li:hover {
    opacity: 0.8;
   }

.text-white {
    --tw-text-opacity: 1 !important;
    color: rgba(255,255,255,var(--tw-text-opacity)) !important;
}

.font-bold {
    font-weight: 700;
}

.login{
    background-color: transparent;
    border-width: 2px;
    line-height: inherit;
}

.mint {
    background-image: url("https://dragonwars.game/images/bg-secondary.png");
}

.click-mint{
    margin-left: 45%;
}